.record-mycribe {
  position: absolute;
  top: 85px;
  left: 340px;
  padding-bottom: 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3),
    inset 0 1px 8px rgba(34, 34, 34, 0.3);
  cursor: default;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.94;
}

.record-mycribe .tr {
  font-size: 24px;
  font-weight: bold;
  line-height: 52px;
  padding: 0px 20px;
  display: flex;
  color: #fff;
}

.tr-li {
  margin: 5px 30px;
}

.tr-li:nth-child(4) {
  margin-left: 25px;
}

.record-mycribe .td {
  font-size: 24px;
  font-weight: bold;
  line-height: 52px;
  padding: 0px 20px;
  display: flex;
  color: #fff;
}

.record-mycribe .td:hover {
  color: #fff;
  background-color: #ccc;
}

.td-li {
  margin: 0 25px;
}

.td-li:nth-child(2) {
  margin-left: 10px;
}

.td-li:nth-child(3) {
  margin-left: 40px;
}

.td-li:nth-child(4) {
  margin-left: 60px;
}
